src/Launcher/Models/ClientManifest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="File">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="name" type="xs:string" use="required" />
          <xs:attribute name="size" type="xs:integer" use="required" />
          <xs:attribute name="hash" type="xs:unsignedLong" use="required" />
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="Folder">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Folder" minOccurs="0" maxOccurs="unbounded" />
        <xs:element ref="File" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>

      <xs:attribute name="name" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="ClientManifest">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Folder"/>
      </xs:sequence>

      <xs:attribute name="version" type="xs:integer" use="required" />
      <xs:attribute name="languages" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>

</xs:schema>