src/Launcher/Models/ServerManifest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ServerManifest">
    <xs:complexType>
      <xs:all>
        <xs:element name="Name" type="xs:string" />
        <xs:element name="Description" type="xs:string" />

        <xs:element name="LoginServer" type="xs:string" />
        <xs:element name="LoginApiUrl" type="xs:string" />

        <xs:element name="RegisterUrl" type="xs:string" minOccurs="0" />
      </xs:all>

      <xs:attribute name="version" type="xs:integer" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>